html, body {
    height: 100%;
    background-color: rgb(8, 13, 13);
}

a {
    color: rgb(206, 250, 243);
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

h1, h2, p {
    color: rgb(255, 255, 255);
    user-select: none;
    font-family: 'JetBrains Mono';
    align-self: flex-end;
}

.column {
    float: left;
    width: 30%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}